<div class="container text-center" style="max-width: 215px; margin: auto">
    <form [formGroup]="formSubmit" class="form-signin" (ngSubmit)="submit()">
        <h1 class="h3 mb-3">Please Register</h1>
        <input type="email" formControlName="inputEmail" class="form-Control" placeholder="Email Address">
        <label class="alert alert-danger" *ngIf="this.formSubmit.controls.inputEmail.invalid && this.formSubmit.controls.inputEmail.touched">Email required</label>
        <input type="password" formControlName="inputPassword" class="form-Control" placeholder="Password">
        <label class="alert alert-danger" *ngIf="inputPasswordInvalid">Password required</label>
        <input type="password" formControlName="confirmPassword" class="form-Control" placeholder="Confirm Password">
        <label class="alert alert-danger" *ngIf="confirmPasswordInvalid">Confirm Password is required</label>
        <label class="alert alert-danger" *ngIf="passwordError">Passwords do not match</label>
        <button class="btn btn-sm btn-primary btn-block" type="submit" [disabled]="formSubmit.invalid">Register</button>
    </form>
</div>

